@import '../styles/mixins';

.form {
  background-color: #9B9B9B;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(-50px);
  opacity: 0;
  box-shadow: 0px 0px 40px 20px #f1f1f1;
  animation: form-wow 1s forwards;
  width: 40%;
  margin: 0 auto;
}

.label {
  @include label;
  input, textarea {
    margin-top: 10px;
    border: 1px solid #000;
    font-size: 16px;
  }

  input {
    font-weight: bold;
  }
}

.input,
.textarea {
  @include input-animated
}

.button {
  padding: 15px 30px;
  font-size: 20px;
  @include animated-button;
}

.error {
  color: #940d0d;
  margin-top: 10px;
  font-size: 20px;
  animation: error-wow 0.5s forwards;
}

@keyframes error-wow {
  from {
      transform: translateX(-50px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.timeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  & > label {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  & > input[type="number"] {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    font-size: 18px;
    color: #000;
    font-weight: bold;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
}

.addButton {
  position: relative;
  display: block;
  margin: 70px auto;
  padding: 20px 40px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: #3498db;
  color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(52, 152, 219, 0.3);
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 2px solid #3498db;
    border-radius: 50px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 20px 40px rgba(52, 152, 219, 0.5);
    &:before {
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
