@import '../styles/mixins';

.issue {
  border: 1px solid #000;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  h3,p {
      margin: 0;
      margin-bottom: 24px;
      text-align: center;
  }

  button {
    padding: 12px 20px;
    font-size: 11px;
    @include animated-button;
  }

  input,textarea {
    @include input-animated
  }

  input {
    font-weight: bold;
  }

  .date {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
}

